create database QLiDeTai
go
use QLiDeTai
GO
/****** Object:  Table [dbo].[BOMON]    Script Date: 5/7/2023 2:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOMON](
	[MABM] [nchar](10) NOT NULL,
	[TENBM] [nchar](30) NULL,
	[PHONG] [char](3) NULL,
	[DIENTHOAI] [char](10) NULL,
	[TRUONGBM] [char](3) NULL,
	[MAKHOA] [char](4) NULL,
	[NGAYNHANCHUC] [date] NULL,
 CONSTRAINT [PK_BOMON] PRIMARY KEY CLUSTERED 
(
	[MABM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUDE]    Script Date: 5/7/2023 2:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUDE](
	[MACD] [nchar](5) NOT NULL,
	[TENCD] [nchar](30) NULL,
 CONSTRAINT [PK_CHUDE] PRIMARY KEY CLUSTERED 
(
	[MACD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONGVIEC]    Script Date: 5/7/2023 2:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGVIEC](
	[MADT] [char](3) NOT NULL,
	[STT] [int] NOT NULL,
	[TENCV] [nvarchar](50) NULL,
	[NGAYBD] [date] NULL,
	[NGAYKT] [date] NULL,
 CONSTRAINT [PK_CV] PRIMARY KEY CLUSTERED 
(
	[MADT] ASC,
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAI]    Script Date: 5/7/2023 2:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAI](
	[MADT] [char](3) NOT NULL,
	[TENDT] [nvarchar](100) NULL,
	[KINHPHI] [float] NULL,
	[CAPQL] [nvarchar](30) NULL,
	[NGAYBD] [date] NULL,
	[NGAYKT] [date] NULL,
	[MACD] [nchar](5) NULL,
	[GVCNDT] [char](3) NULL,
 CONSTRAINT [PK_DT] PRIMARY KEY CLUSTERED 
(
	[MADT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 5/7/2023 2:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [char](3) NOT NULL,
	[HOTEN] [nvarchar](100) NULL,
	[LUONG] [float] NULL,
	[PHAI] [nchar](4) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[GVQLCM] [char](3) NULL,
	[MABM] [nchar](10) NULL,
 CONSTRAINT [PK_GV] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GV_DT]    Script Date: 5/7/2023 2:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GV_DT](
	[MAGV] [char](3) NOT NULL,
	[DIENTHOAI] [char](10) NOT NULL,
 CONSTRAINT [PK_GV_DT] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC,
	[DIENTHOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 5/7/2023 2:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [char](4) NOT NULL,
	[TENKHOA] [nchar](30) NULL,
	[NAMTL] [int] NULL,
	[PHONG] [char](3) NULL,
	[DIENTHOAI] [char](10) NULL,
	[TRUONGKHOA] [char](3) NULL,
	[NGAYNHANCHUC] [date] NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOI_THAN]    Script Date: 5/7/2023 2:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOI_THAN](
	[MAGV] [char](3) NOT NULL,
	[TEN] [nchar](15) NOT NULL,
	[NGSINH] [date] NULL,
	[PHAI] [nchar](4) NULL,
 CONSTRAINT [PK_NT] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC,
	[TEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THAMGIADT]    Script Date: 5/7/2023 2:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMGIADT](
	[MAGV] [char](3) NOT NULL,
	[MADT] [char](3) NOT NULL,
	[STT] [int] NOT NULL,
	[PHUCAP] [float] NULL,
	[KETQUA] [nchar](20) NULL,
 CONSTRAINT [PK_TGDT] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC,
	[MADT] ASC,
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOMON]  WITH CHECK ADD  CONSTRAINT [FK_BM_GV] FOREIGN KEY([TRUONGBM])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[BOMON] CHECK CONSTRAINT [FK_BM_GV]
GO
ALTER TABLE [dbo].[BOMON]  WITH CHECK ADD  CONSTRAINT [FK_BM_K] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[BOMON] CHECK CONSTRAINT [FK_BM_K]
GO
ALTER TABLE [dbo].[CONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_CV_DT] FOREIGN KEY([MADT])
REFERENCES [dbo].[DETAI] ([MADT])
GO
ALTER TABLE [dbo].[CONGVIEC] CHECK CONSTRAINT [FK_CV_DT]
GO
ALTER TABLE [dbo].[DETAI]  WITH CHECK ADD  CONSTRAINT [FK_DT_CD] FOREIGN KEY([MACD])
REFERENCES [dbo].[CHUDE] ([MACD])
GO
ALTER TABLE [dbo].[DETAI] CHECK CONSTRAINT [FK_DT_CD]
GO
ALTER TABLE [dbo].[DETAI]  WITH CHECK ADD  CONSTRAINT [FK_DT_GV] FOREIGN KEY([GVCNDT])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[DETAI] CHECK CONSTRAINT [FK_DT_GV]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GV_BM] FOREIGN KEY([MABM])
REFERENCES [dbo].[BOMON] ([MABM])
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_GV_BM]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GV_GV] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_GV_GV]
GO
ALTER TABLE [dbo].[GV_DT]  WITH CHECK ADD  CONSTRAINT [FK_GVDT_GV] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[GV_DT] CHECK CONSTRAINT [FK_GVDT_GV]
GO
ALTER TABLE [dbo].[KHOA]  WITH CHECK ADD  CONSTRAINT [FK_K_GV] FOREIGN KEY([TRUONGKHOA])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[KHOA] CHECK CONSTRAINT [FK_K_GV]
GO
ALTER TABLE [dbo].[NGUOI_THAN]  WITH CHECK ADD  CONSTRAINT [FK_NT_GV] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[NGUOI_THAN] CHECK CONSTRAINT [FK_NT_GV]
GO
ALTER TABLE [dbo].[THAMGIADT]  WITH CHECK ADD  CONSTRAINT [FK_TGDT_CV] FOREIGN KEY([MADT], [STT])
REFERENCES [dbo].[CONGVIEC] ([MADT], [STT])
GO
ALTER TABLE [dbo].[THAMGIADT] CHECK CONSTRAINT [FK_TGDT_CV]
GO
ALTER TABLE [dbo].[THAMGIADT]  WITH CHECK ADD  CONSTRAINT [FK_TGDT_GV] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[THAMGIADT] CHECK CONSTRAINT [FK_TGDT_GV]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD CHECK  (([PHAI]=N'Nữ' OR [PHAI]=N'Nam'))
GO
ALTER TABLE [dbo].[NGUOI_THAN]  WITH CHECK ADD CHECK  (([PHAI]=N'Nữ' OR [PHAI]=N'Nam'))
GO
